<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="footer_logo">
                    <div class="image_footer">
                        <img src="{{ asset('image/logo.jpg')}}" alt="logo_footer"/>
                    </div>
                    <div class="footer_titre">
                        <h5>
                            <strong class="i">I</strong>-<strong class="tsena">tsena</strong>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <h5 class="text-center copyright">&copy; Copyright
                    <span class="me-4">MAMINIAINAZAIN@gmail.com</span>
                    <i class="fa fa-phone "></i>
                    +261323984415</h5>
            </div>
        </div>
    </div>
</footer>